<!DOCTYPE html>
<html lang="pt-br">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Calendário</title>

    <link href="/style/header.css" rel="stylesheet">
    <link href="/style/paginas.css" rel="stylesheet">
    <link href="/style/footer.css" rel="stylesheet">

    <link href="/calendar/css/main.css" rel="stylesheet">

</head>
<body>
    
    <%- include ('partials/header') %>

    <main>

        <div id='calendar'></div>

    </main>

    <%- include ('partials/footer') %>

    <script src='/calendar/js/calendar.js'></script>
    <script src='/calendar/js/main.js'></script>

</body>
</html>