<!DOCTYPE html>
<html lang="pt-br">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Instrutores</title>

    <link href="/style/header.css" rel="stylesheet">
    <link href="/style/paginas.css" rel="stylesheet">
    <link href="/style/footer.css" rel="stylesheet">

    <link rel="icon" href="img/logocec.png">

</head>
<body>
    
    <%- include ('partials/header') %>

    <main>

        <h1>Instrutores</h1>

    </main>

    <%- include ('partials/footer') %>

</body>
</html>